/* Background image */
body {
    background-image: url(https://imageio.forbes.com/specials-images/imageserve/6678870425b3882a4b4995fb/SURFING-FRA-WSL-TAHITI/960x0.jpg?format=jpg&width=960);
    background-size: cover;
    background-position: center;
    color: #fff; /* Contrasting font color */
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  h1 {
    font-family: 'Pacifico', cursive;
    margin-top: 50px;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  p {
    width: 60%;
    margin: 0 auto;
  }
  
  .profile {
    display: inline-block;
    margin: 20px;
  }
  
  .profile img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
  }
  
  .profile p {
    text-align: center;
    font-weight: bold;
  }
  